body {
    background-color: #0049b7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #00ddff;
    width: 560px;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#heading {
    color:#fff685;
    font-family: "Caveat", cursive;
    font-size: 32px;
    margin-bottom: 5px;
}

#taskInput {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    font-family: "caveat", cursive;
    font-size: 20px;
}

#addtask {
    height: 40px;           /* same as input */
    width: 40px;
    border: none;
    border-radius: 0 5px 5px 0; /* round only right side */
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #fff685;
    cursor: pointer;
    transition: .3s;
}
#addtask:hover {
    background-color: #f75990;
}

#addtask:active {
    background-color: rgba(82, 19, 41, 0.7);
}

.task {
    background-color: white;
    display: flex;
    align-items: center;        
    justify-content: space-between; /* text left, buttons right */
    margin-top: 1rem;
    width: 88%;
    border-radius: 5px;
    padding: 5px 10px;
}

/* text styles */
.task li {
    list-style: none;
    font-family: "Caveat", cursive;
    font-size: 20px;
    flex: 1;   
}

/* group buttons neatly */
.checktask, .deletetask {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}

.checktask i { color: green; }
.deletetask i { color: red; }

.completed {
  text-decoration: line-through;
  color: gray;
}