body {
  background-color: #0049b7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* ---------- Room Screen Styling ---------- */
h2 {
  font-family: "Caveat", cursive;
}
#roomInput {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-family: "Caveat", cursive;
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.room-btn-container {
  text-align: center;
  margin-top: 5px;
}

.room-btn {
  height: 40px;
  min-width: 140px;
  border: none;
  border-radius: 5px;
  font-family: "Caveat", cursive;
  font-size: 18px;
  background-color: #fff685;
  cursor: pointer;
  transition: 0.3s;
  margin: 5px;
  font-weight: bold;
}

.room-btn:hover {
  background-color: #f75990;
}

.room-btn:active {
  background-color: rgba(82, 19, 41, 0.7);
  color: white;
}

#leaveRoom {
  background-color: #ff6b6b;
}

#leaveRoom:hover {
  background-color: #e63946;
}

#leaveRoom:active {
  background-color: #9d0208;
}

.container {
  background-color: #00ddff;
  width: 90%;
  max-width: 560px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
}
.taskcontainer {
  overflow-y: auto;
  max-height: 60vh; 
  margin-top: 10px;
}

#heading {
  color: #fff685;
  font-family: "Caveat", cursive;
  font-size: 32px;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  width: 85%;
  margin: 0 auto 10px auto;
}

#taskInput {
  flex: 1;
  border-radius: 5px 0 0 5px;
  height: 40px;
  padding: 5px 10px;
  font-family: "Caveat", cursive;
  font-size: 16px;
  resize: none;
  overflow-y: auto;
  overflow-x: auto;
  white-space: pre;
  box-sizing: border-box;
  min-height: 40px;
  /* max-height: 150px;  */
}

#addtask {
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background-color: #fff685;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 2px;
}
#addtask:hover {
  background-color: #f75990;
}

#addtask:active {
  background-color: rgba(82, 19, 41, 0.7);
}

.task {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 88%;
  border-radius: 5px;
  padding: 5px 10px;
}

/* text styles */
.task li {
    list-style: none;
    font-family: "Caveat", cursive;
    font-size: 18px;
    flex: 1;
    overflow-wrap: break-word; 
    white-space: pre-wrap;     
    word-break: break-word;    
}

/* group buttons neatly */
.checktask,
.deletetask {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.checktask i {
  color: green;
}
.deletetask i {
  color: red;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none;
}
